.editor-pick-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin-top: 2rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  .left-wrapper {
    .top-story {
      cursor: pointer;
      margin-bottom: 3rem;
      img {
        width: 100%;
      }
    }

    .editor-stories-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .news-wrapper {
        cursor: pointer;

        img {
          width: 100%;

          @media screen and (max-width: 550px) {
              height: auto
          }
      }
      }
    }
  }

  .right-wrapper {
    @media screen and (max-width: 1000px) {
      display: none;
    }

    h2 {
      margin-top: 0;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        @include font(1, 400, black, 1.5);
        margin: 1rem 0;
        cursor: pointer;
      }
    }
  }
}
