.footer-container {
  @extend .primary-container;

  .footer-wrapper {
    grid-area: main;

    ul {
      @include flex(space-between, center, row);
      flex-wrap: wrap;
      padding: 0;

      @media screen and (max-width: 1200px) {
        @include flex(flex-start, center, row);
        flex-wrap: wrap;
        gap: 1rem;
      }

      li {
        list-style: none;
      }
    }

    div {
      text-align: center;
      margin-top: 2rem;
    }
  }
}
